@import '../../../config_scss/ren-cal.scss';

:host {
	main {
		margin-top: rem-calc(10);

		.candidato__names {
			position: relative;
			display: flex;
			align-items: flex-end;
			justify-content: flex-end;
			margin-left: rem-calc(180);
			height: 100px;

			padding: 0 rem-calc(5);

			h1 {
				color: var(--branco);
				font-size: rem-calc(32);
				text-transform: capitalize;
			}

			h2 {
				position: absolute;
				font-weight: 100;
				top: 0;
				font-size: rem-calc(60);
				color: rgba(255, 255, 255, 0.1);
			}

			h1,
			h2 {
				//Remove Bug Animation
				-webkit-animation-fill-mode: none !important;
				animation-fill-mode: none !important;
			}
		}

		.candidato__status {
			position: relative;

			img {
				position: absolute;
				top: rem-calc(-90);
				left: rem-calc(30);
				max-width: rem-calc(130);
				z-index: 10;

				//Remove Bug Animation
				-webkit-animation-fill-mode: none !important;
				animation-fill-mode: none !important;
			}

			&__statistics {
				display: flex;
				flex-direction: column;
				justify-content: space-between;

				background: var(--branco);

				min-height: 30.9vh;
				margin-top: rem-calc(10);

				padding: rem-calc(110) rem-calc(35) rem-calc(30);
				border-radius: rem-calc(50) rem-calc(50) 0 0;

				h3 {
					margin-bottom: rem-calc (20);
					font-weight: 700;
					font-style: italic;
					font-size: rem-calc(32);
					text-decoration: underline;
					color: palevioletred;
				}

				ol {
					li {
						display: flex;
						justify-content: space-between;

						font-size: rem-calc(18);
						line-height: 130%;
					}
				}
			}
		}

		@media (max-width: 420px) {
			margin-top: rem-calc(10);

			.candidato__names {
				h1 {
					font-size: rem-calc(20);
				}

				h2 {
					top: rem-calc(35);
					font-size: rem-calc(20);
				}
			}

			.candidato__status {
				position: relative;

				img {
					position: absolute;
					top: rem-calc(-80);
					left: rem-calc(0);
					max-width: rem-calc(100);
				}

				&__statistics {
					min-height: 57vh;
					padding-top: rem-calc(50);
				}
			}
		}
		.btn__secondary{
		  text-decoration: none; /* Remove sublinhado */
          color: black; /* Cor do texto */
          font-size: 16px;
          font-weight: bold;
          padding: 10px 20px;
          border: 2px solid transparent; /* Transição para hover */
          border-radius: 25px; /* Botão arredondado */
          transition: all 0.3s ease;
  
          /* Estilo inicial */
          &:hover {
            background-color: lightblue; /* Fundo branco */
            color: #2a75bb; /* Texto azul */
            border-color: lightcoral; /* Borda branca */
        }
		}
	}
}