:host{
    main {
        #content__box {
            width: 500px;
            height: 500px;
            border: 10px solid lightblue;
            border-radius: 10px;
      
            //background: red;
            display: flex; /* Flex container */
            flex-direction: row; /* Elementos lado a lado */
            margin: 0 auto;
            margin-top: 60px;

            //background-color: lightgreen;
            background: url("/assets/dex3.png") no-repeat center center;
            background-size: cover;
        }

        #candidato__info{
            width: 250px;
            height: 100%;
            //background-color: aqua;
            text-align: center;
        }

        #candidato__info img{
          width: 200px;
          height: 245px;
          border: none; /* Sem borda */
          box-shadow: 0 0 10px rgba(173, 216, 230, 0.5);
          border-radius: 15px;
          margin-top: 20px;
          background: linear-gradient(180deg, #e1eff7, #b3d4f3);
        }

        #candidato_status{
          margin-top: 10px;
        }

        .type__box{
          border: none; /* Sem borda */
          box-shadow: 0 0 10px rgba(173, 216, 230, 0.5);
          border-radius: 15px;
          background: linear-gradient(180deg, #e1eff7, #b3d4f3);
          margin-left: 5px;
          padding: 6px;
          

        }

        #candidado__descricao{
          width: 230px;
          height: 130px; /* Altura maior */
          background: linear-gradient(180deg, #e1eff7, #b3d4f3);
          border: none; /* Sem borda */
          box-shadow: 0 0 10px rgba(173, 216, 230, 0.5);
          border-radius: 15px;

          margin: 0 auto;
          margin-top: 10px;
          padding: 2px;
          font-size: 18px;
          overflow-y: auto;
          scrollbar-width: thin; /* Rolagem fina */
          scrollbar-color: #b3d4f3 transparent; /* Azul leve */
        }
        #candidado__descricao::-webkit-scrollbar {
          width: 6px; /* Largura da barra */
        }
        #candidado__descricao::-webkit-scrollbar-thumb {
          background-color: #b3d4f3; /* Cor da barra */
          border-radius: 10px; /* Forma arredondada */
        }
      
      #candidado__descricao::-webkit-scrollbar-track {
          background: transparent; /* Sem fundo */
        }
      

        #candidato__list {
            width: 250px;
            height: 480px;
            //background-color: yellow;
          
            display: flex;
            flex-direction: column;
            overflow-y: auto;
            scrollbar-width: thin; /* Rolagem fina */
            scrollbar-color: #b3d4f3 transparent; /* Azul leve */
            padding: 10px; /* Para espaçamento interno */
          }
          #candidado__list::-webkit-scrollbar {
            width: 6px; /* Largura da barra */
          }
          #candidado__list::-webkit-scrollbar-thumb {
            background-color: #b3d4f3; /* Cor da barra */
            border-radius: 10px; /* Forma arredondada */
          }
        
        #candidado__list::-webkit-scrollbar-track {
            background: transparent; /* Sem fundo */
          }

          .candidato__item {
            margin-bottom: 10px;
          }

          .candidato__name{
            border: none; /* Sem borda */
            box-shadow: 0 0 10px rgba(173, 216, 230, 0.5);
            border-radius: 15px;
            margin: 5px;
            padding: 5px;
            background: linear-gradient(180deg, #e1eff7, #b3d4f3);
            cursor: pointer;
          }
    }
}