<cand-search ></cand-search>
<section class="listagem">
    <a class="candidato" *ngFor="let candidato of candidatos$ |async" [routerLink]="['/details', candidato.id]">
    <section class="candidato__status">
        <h2>
            {{candidato.nome}}
        </h2>
        
        <ul>
            <li>{{candidato.partido}}</li>
            <li>{{candidato.numeroEleicao}}</li>
        </ul>
    </section>

    <section class="candidato__image">
        <img [src]="candidato.url" alt="Dr.Vinicius">
    </section>
    </a>
</section>
