.navbar {
    
    padding: 10px 20px;
    display: flex;
    justify-content: center;
  
    .navbar__menu {
      list-style: none;
      display: flex;
      gap: 15px;
      margin: 0;
      padding: 0;
  
      .navbar__item {
        .navbar__link {
          text-decoration: none; /* Remove sublinhado */
          color: white; /* Cor do texto */
          font-size: 16px;
          font-weight: bold;
          padding: 10px 20px;
          border: 2px solid transparent; /* Transição para hover */
          border-radius: 25px; /* Botão arredondado */
          transition: all 0.3s ease;
  
          /* Estilo inicial */
          &:hover {
            background-color: white; /* Fundo branco */
            color: #2a75bb; /* Texto azul */
            border-color: #fff; /* Borda branca */
        }
    }
  }
}
}